body {
	background: #232323;
}

.header {
	height: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: white;
}

.banner {
	color: blue;
	background: white;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

#message {
	width: 120px;
	text-align: center;
}

button {
	background: white;
	color: rgb(108, 157, 192);
	border: none;
}

.container {
	margin: 0 auto;
	width: 400px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15px;
}

.selected {
	background: blue;
	color: white;
}

.hidden {
	display: none;
}
